@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}
html,
body {
  overflow-x: hidden;
}
/* shared styles */
.shared-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  max-width: 468px;
}
.shared-description {
  color: #727272;
  line-height: 1.6rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 50px;
  text-align: center;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
nav > h3 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* banner section */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 6.25rem;
}

.primarybtn {
  border-radius: 8px;
  background: #ff900e;
  padding: 1.1rem 1.4rem;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}
.banner img {
  width: 100%;
  margin-top: 50px;
}
/* main styles */
main {
  max-width: 1300px;
  margin: 70px auto;
}
/* team styles */
.team-container {
  display: flex;
  align-items: center;
  /* margin-left: 200px;
  margin-right: 200px; */
  /* margin-right: 12.5rem;
  margin-left: 12.5rem; */
  justify-content: center;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-left: 70px;
}

.quick-list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.team-features {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.team-description {
  color: #727272;
  line-height: 1.5rem; /* 162.5% */
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  max-width: 537px;
}
/* fact section */
.facts-container {
  margin-top: 120px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 50px 35px;
  text-align: center;
}
.card-stat {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
}
.card-title {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
}

/* responsive styles for mobile */

@media screen and (max-width: 576px) {
  /* for banner */
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .banner-title {
    font-size: 2rem;
  }
  /* team section */
  .team-container {
    flex-direction: column;
  }
  .team-images {
    grid-template-columns: 1fr;
  }
  .team-content {
    padding: 10px;
  }
}
/* responsive styles for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  /* teams section */
  .team-container {
    flex-direction: column;
  }
  .team-content {
    padding: 20px;
  }
}
